.iparties_logo {
    width: 100%;
}

.card-header-pic .card-header {
    height: 60vw;
    max-height: 30em;
    background-size: cover;
    background-position: center;
    color: #fff;
}

@media (min-width: 768px) {
    .card-header-pic .card-header {
        height: 40vw;
    }
}

.card-header {
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

#news-row {
    justify-content: space-evenly !important;

}

.swiper-slide {
    width: auto !important;
    margin: 10px;
}

.impImages{
    height: 150px;
}
.swiper-pagination{
    bottom: -3px !important;
}

